---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less link and gradient background
//$head-primary: #7b4397 ;
//$head-secondary: #dc2430 ;
//$theme-primary: #fdcc52 ;
//$theme-secondary: #fdc539 ;
//$theme-dark: #222;

$head-primary: #1b7837 ;
$head-secondary: #1b7837 ;
$theme-primary: #7fbf7b ;
$theme-secondary: #1b7837 ;
$theme-dark: #222;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
/*custom*/
.btn-sm-nav {
  padding: 4px 10px!important;
  margin-top: 10px!important;
}
@media (min-width: 768px) {
  .navbar-default.affix .btn-sm-nav:hover {
    color:white!important;
  }

  header {
    min-height: 50%;
  }
  header .header-content {
    height: 50vh;
  }
}
.img-responsive {
  margin: 0 auto;
}
.btn-inverse {
  color: #333;
}
.service-box {
  margin-bottom: 80px;
}
footer {
  background-color: transparent;
  color: #333;
}
