# Site settings
title: OVRDC Bikeways Portal
email:
description: Explore Southern Ohio's Amazing Bikeways, Hiking Trails and Mountain Bike Trails

baseurl: "" # the subpath of your site, e.g. /blog/ (If you use organization leave empty)
url: "" #https://jekynewage.github.io" # the base hostname & protocol for your site

#Google Ad Words Data from scripts code (using Google responsive options) and ad client
data-ad-slot:
data-ad-client:
google_ad_client:

google_analytics: ""
addthis_id:
disqus_account:

baseurl: "https://ovrdc.github.io/bikeways/"

# Social networks usernames (many more available: flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.) see all icon at fontawesome.io
social:
  - title: twitter
    url: https://twitter.com/lantoniotrento
  - title: facebook
    url: https://facebook.com/lantoniotrento
  - title: google-plus
    url: https://plus.google.com/+AntoniotrentoIt
  #- title: github
  #  url: http://github.com/jekyll

# Build settings
markdown: kramdown
highlighter: rouge
permalink: pretty
paginate: 5
exclude: ["less","node_modules","Gruntfile.js","package.json","README.md"]

gems: [jekyll-paginate, jekyll-feed]
# Build settings
