<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% include 1.1-opengraph.html %}

  <!-- Plugin CSS -->
  <!--link rel="stylesheet" href="{{site.url}}/assets/vendor/simple-line-icons/css/simple-line-icons.css"-->
  <!--link rel="stylesheet" href="{{site.url}}/assets/vendor/device-mockups/device-mockups.min.css"-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% if site.addthis_id %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="/assets/s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_id }}"></script>
  {% endif %}
  <!--google-analytics-->
  <link href="/assets/css/main.css" rel="stylesheet" />
  <style>
  {% if page.homepage == true %}{% else %}
  @media (min-width: 768px) {header{min-height: 33%;} header .header-content {height: 40vh;}}
  {% endif %}
  </style>
  <style>
  {% if page.homepage == "true" % }{% else %}
  {% endif %}
  {% if page.css %}{{page.css}}{% endif %}
  </style>
  {% if page.permalink == "/mapzen/" %}
  <link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
  {% endif %}
</head>
