<script>
/*L.mapbox.accessToken = 'pk.eyJ1Ijoib3ZyZGMiLCJhIjoiRUtXeFFzZyJ9.ufnW36oCZo96m_L9QsAkYg';*/

/*Initialize Map*/
var map = L.map('trailmap', {
  center: [{{page.centery}},{{page.centerx}}],
  zoom: {% if page.zoom %}{{page.zoom}}{% else %}11{% endif%},
  maxZoom: 20,
  scrollWheelZoom: false,
});

var fs = new L.control.fullscreen();
fs.addTo(map);

/*Basemaps*/
var hills = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Shaded_Relief/MapServer/tile/{z}/{y}/{x}', {
  attribution: 'Tiles &copy; Esri &mdash; Source: Esri',
  maxNativeZoom: 13
});
var base = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
  maxNativeZoom: 18,
  attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  opacity: 0.8
});
var hillshade = new L.layerGroup([hills, base]).addTo(map);
var esri = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
  attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
  maxNativeZoom: 18,
  maxZoom: 20
});
var labels = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png', {
  maxNativeZoom: 18,
  maxZoom: 20,
  attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});
var ortho = new L.layerGroup([esri, labels], {});

/*function for poi popup*/

function poiPopup(feature, poi) {
  var latlng = poi._latlng.lat + ',' + poi._latlng.lng;
  poi.bindPopup('<h4>' + poi.feature.properties.Title + '</h4>' +
  '<a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr=' +
  latlng + '" target="_blank">Directions</a>');
  }

/*function for creating the poi icon*/

function createIcon(feature, latlng) {
  var type = feature.properties.symbol;
  /* POI Icons with customized Mapbox Maki Icons*/
  var icon = new L.ExtraMarkers.icon({
    icon: type,
    markerColor: '#333',
    svgBorderColor: '#333',
    shape: 'circle',
    prefix: 'maki',
    svg: true
  });
  return new L.marker(latlng, {
    icon: icon
  });
}

var parkingLayer = new L.geoJson(null, {
    filter: function(feature) {
      if (feature.properties.Title == 'Parking') {
        return true
      }
    },
    pointToLayer: createIcon,
    onEachFeature: poiPopup
}).addTo(map);

var pois = new L.geoJson(null, {
  filter: function(feature) {
    if (feature.properties.Title != 'Parking') {
      return true
    }
  },
  pointToLayer: createIcon,
  onEachFeature: poiPopup
});

var trails = L.geoJson(null, {
  style: {
    color: '#1b7837',
    weight: 7,
    opacity: 1
  },
  filter: function(feature) {
    if (feature.properties.Status == "Existing") {
      return true
    }
  },
  onEachFeature: function(feature, trail) {
    var p = feature.properties;
    var popup = '<h4>Name: ' + p.Name +
    '</h4>Type:' + p.maptype +
    '<hr /><br />Subtitle: ' + p.subtitle +
    '<br />Length: ' + Number(p.length).toFixed(4) + 'mi' +
    '<br />Popup: ' + p.popup +
    '<br />Notes: ' + p.Notes;
    trail.bindPopup(popup);
  }
}).addTo(map);

/*change basemap to ortho on high zoom*/
map.on('zoomend', function() {
  if (map.getZoom() > 15) {
    map.removeLayer(hillshade);
    esri.addTo(map);
    labels.addTo(map);
  }
  if (map.getZoom() < 16) {
    if (map.hasLayer(esri)) {
      map.removeLayer(esri);
      map.removeLayer(labels);
      hillshade.addTo(map);
    }
  }
});

/*make the map more friendly to scrolling*/
map.on('click', function() {
  map.scrollWheelZoom.enable();
});
map.on('moveend', function() {
  map.scrollWheelZoom.enable();
});
map.on('zoomend', function() {
  map.scrollWheelZoom.enable();
});
map.on('mouseout', function() {
  map.scrollWheelZoom.disable();
});

/*button for turning on the pois*/
var poiLayerButton = L.easyButton({
  states: [{
    stateName: 'add',
    icon: 'fa-map-marker fa-2x',
    title: 'Show Points of Interest',
    onClick: function(btn, map) {
      if (!map.hasLayer(pois)) {
        map.addLayer(pois)
      }
      btn.state('remove');
    }
  }, {
    stateName: 'remove',
    icon: 'fa-times fa-2x',
    title: 'Remove Points of Interest',
    onClick: function(btn, map) {
      if (map.hasLayer(pois)) {
        map.removeLayer(pois)
      }
      btn.state('add');
    }
  }]
});

poiLayerButton.addTo(map);

/* Load map data and add to layers*/
$.getJSON("/trails/data/ovrdc_trails_pois.geojson", function() {
  console.log('done loading poi data')
})
.done(function(data) {
  console.log('poi data ready');
  pois.addData(data);
  console.log(data);
  parkingLayer.addData(data);
})
.fail(function() {
  console.log('error loading poi data')
});

$.getJSON("/trails/data/ovrdc_trails_web.geojson", function(data) {
  console.log('done loading trail data')
})
.done(function(data) {
  console.log(data);
  trails.addData(data)
})
.fail(function() {
  console.log('error loading trail data')
});
</script>
