<script>
/*L.mapbox.accessToken = 'pk.eyJ1Ijoib3ZyZGMiLCJhIjoiRUtXeFFzZyJ9.ufnW36oCZo96m_L9QsAkYg';*/

/*Initialize Map*/
var map = L.map('map', {
  center: {% if page.MID_Y %}[{{page.MID_Y}},{{page.MID_X}}]{% else %}[39.0469,-83.1061]{% endif %},
  zoom: {% if page.zoom AND page.zoom != '' or page.zoom != nil %}{{page.zoom}}{% else %}10{% endif%},
  maxZoom: 20,
  scrollWheelZoom: true,
  sleep: false,
  zoomControl: false
});

var mapZoom = new L.control.zoom({position: "topright"}).addTo(map);
/*var fs = new L.control.fullscreen({position: "topright"});
fs.addTo(map);*/

/*Basemaps*/
var hills = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Shaded_Relief/MapServer/tile/{z}/{y}/{x}', {
  attribution: 'Tiles &copy; Esri &mdash; Source: Esri',
  maxNativeZoom: 13
});
var stamen_hills = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 18,
	ext: 'png'
});
var base = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
  maxNativeZoom: 18,
  attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  opacity: 0.7
});
var hillshade = new L.layerGroup([hills, base]).addTo(map);
var esri = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
  attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
  maxNativeZoom: 18,
  maxZoom: 20
});
var labels = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png', {
  maxNativeZoom: 18,
  maxZoom: 20,
  attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});
var ortho = new L.layerGroup([esri, labels], {});

/*function for poi popup*/

function poiPopup(feature, poi) {
  var latlng = poi._latlng.lat + ',' + poi._latlng.lng;
  poi.bindPopup('<h4>' + poi.feature.properties.Title + '</h4>' +
  '<a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr=' +
  latlng + '" target="_blank">Directions</a>');
  }

/*function for creating the poi icon*/

function createIcon(feature, latlng) {
  var type = feature.properties.symbol;
  /* POI Icons with customized Mapbox Maki Icons*/
  var icon = new L.ExtraMarkers.icon({
    icon: type,
    markerColor: '#333',
    svgBorderColor: '#333',
    prefix: 'maki',
    svg: true
  });
  return new L.marker(latlng, {
    icon: icon
  });
}

var pois = new L.geoJson(null, {
  pointToLayer: createIcon,
  onEachFeature: poiPopup
});

function getColor(t) {
  switch(t) {
    case "shared-path": return '#1b7837';
    case "walking": return '#1b7837';
    case "roadway": return '#1b7837';
    case "Hiking Trail": return 'saddlebrown';
    case "Backpacking Trail": return 'saddlebrown';
  }
}

function getDash(st) {
  if (st == "Extension") {
    return [5,7,2,7]
  }
  else return null
}

function getWeight(st) {
  if (st == "Extension") {
    return 5
  }
  else return 7
}

function trailsStyle(feature) {
  return {
    color: getColor(feature.properties.Type),
    weight: getWeight(feature.properties.subtype),
    opacity: 1,
    dashArray: getDash(feature.properties.subtype)
  }
}
var trailPopup = "";
var trails = L.geoJson(null, {
  style: trailsStyle,
  filter: function(feature) {
    if (feature.properties.Status == "Existing") {
      return true
    }
  },
  onEachFeature: function(feature, trail) {
    var p = feature.properties;
    trailPopup = '<h4>' + p.Name +
    '</h4>Type:' + p.maptype +
    '<hr /><br />Subtitle: ' + p.subtitle +
    '<br />Length: ' + Number(p["SUM_LengthMi"]).toFixed(4) + ' mi' +
    '<br />Popup: ' + p.popup +
    '<br />Notes: ' + p.Notes +
    '<button class="btn btn-sm btn-primary-outline" id="moreInfo">More Info</button>';
    trail.bindPopup(trailPopup);
    trail.bindTooltip(p.Name, {sticky: true});
  }
}).addTo(map);

$("#moreInfo").click(function() {
  console.log('click');
  mapSidebar.open();
  mapSidebar.setContent(popup)
});

map.on('popupopen', function() {
  map.closeTooltip()
});

/*make the map more friendly to scrolling*/
/*map.on('click', function() {
  map.scrollWheelZoom.enable();
});
map.on('moveend', function() {
  map.scrollWheelZoom.enable();
});
map.on('zoomend', function() {
  map.scrollWheelZoom.enable();
});
map.on('mouseout', function() {
  map.scrollWheelZoom.disable();
});*/

map.createPane("highlight");
map.getPane("highlight").style.zIndex=350;
var newtrails = new L.geoJson(null, {
  style:{weight:9,color:"white", pane:"highlight", opacity: 0.6},
  filter: function(feature) {
    if (feature.properties.Status == "Existing") {
      return true
    }
  }
}).addTo(map);

/* Load map data and add to layers*/
$.getJSON("/trails/data/ovrdc_trails_pois.geojson", function() {
  console.log('done loading poi data')
})
.done(function(data) {
  console.log('poi data ready');
  pois.addData(data);
  console.log(data);
})
.fail(function() {
  console.log('error loading poi data')
});

$.getJSON("/trails/data/ovrdc_trails_web.geojson", function(data) {
  console.log('done loading trail data')
})
.done(function(data) {
  console.log(data);
  trails.addData(data);
  newtrails.addData(data);
})
.fail(function() {
  console.log('error loading trail data')
});
map.createPane('parcelPane');
map.getPane('parcelPane').style.zIndex = 550;
var parkData = omnivore.topojson("/trails/data/ovrdc_parks_web_topo.json");
parkData.on('ready', function(data) {
  var geojson = parkData.toGeoJSON();
  var parks = L.vectorGrid.slicer(geojson, {
    pane: "parcelPane",
    minZoom: 8,
    maxNativeZoom: 14,
    maxZoom: 22,
    rendererFactory: L.canvas.tile,
  	attribution: '© OVRDC',
    interactive: false,
    getFeatureId: function(feature) {
      return feature.properties.OBJECTID;
    },
  	vectorTileLayerStyles: {
      sliced: {
        fillColor: "green",
        color: "transparent",
        weight: 0,
        fillOpacity: 0.1,
        fill: true
      }
    }
  }).addTo(map);
});


/*change basemap to ortho on high zoom*/
map.on('zoomend', function() {
  if (map.getZoom() > 15) {
    map.removeLayer(hillshade);
    esri.addTo(map);
    labels.addTo(map);
  }
  if (map.getZoom() < 16) {
    if (map.hasLayer(esri)) {
      map.removeLayer(esri);
      map.removeLayer(labels);
      hillshade.addTo(map);
    }
  }
});

var att = document.getElementsByClassName('leaflet-control-attribution');

map.on('click', function() {
  att[0].style.display = 'none';
});

var lc = new L.Control.Locate();

var mapSidebar = new L.control.sidebar('map-sidebar', {
  closeButton: true,
  autoPan: false
});

var mapHelp = L.easyButton('fa-question-circle fa-2x', function() {
  map.setView([55, -2], 4);
});

var mapUserLocation = L.easyButton('fa-location-arrow fa-2x', function() {
  map.locate({
    setView: true,
    maxZoom: 10
  });
});

var mapInfo = L.easyButton('fa-info-circle fa-2x', function() {
  att[0].style.display = 'block';
  console.log(att);
});

/*button for turning on the pois*/
var mapPoiToggle = L.easyButton({
  states: [{
    stateName: 'add',
    icon: 'fa-product-hunt fa-2x',
    title: 'Show Points of Interest',
    onClick: function(btn, map) {
      if (!map.hasLayer(pois)) {
        map.addLayer(pois)
      }
      btn.state('remove');
    }
  }, {
    stateName: 'remove',
    icon: 'fa-minus-circle fa-2x',
    title: 'Remove Points of Interest',
    onClick: function(btn, map) {
      if (map.hasLayer(pois)) {
        map.removeLayer(pois)
      }
      btn.state('add');
    }
  }]
});

var bottomToolbar = L.easyBar([mapPoiToggle, mapHelp, mapUserLocation, mapInfo, ], {
  id: 'mobile-toolbar',
  position: 'bottomleft'
}).addTo(map);

/* Add Sidebar */

/* Populate Sidebar on trail click */

/* trail images and detail */

/* Add share button */

/* Add geolocation button */

/* Add link back to homepage on overview map */

/* Add trail outline when zoomed in for ortho view */
</script>
