<!-- Modal -->
<div id="mapHelpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="hideModal2">&times;</button>
        <h4 class="modal-title">Map Controls</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <span class="list-group-item" href="#"><i class="fa fa-star-o fa-fw" aria-hidden="true"></i>&nbsp; Show/Hide Point of Interest Locations</span>
          <span class="list-group-item" href="#"><i class="fa fa-filter fa-fw" aria-hidden="true"></i>&nbsp; Show/Hide Trail Filter</span>
          <span class="list-group-item" href="#"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>&nbsp; Zoom To/Follow GPS Location</span>
          <span class="list-group-item" href="#"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i>&nbsp; Help</span>
        </div>      </div>
      <div class="modal-footer">
        <button id="hideModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
