<!-- Modal -->
<div id="mapHelpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="hideModal2">&times;</button>
        <h3 class="text-center">Southern Ohio Trails Interactive Map</h3>
      </div>
      <div class="modal-body">
        <p>
          This map displays bikeways, hiking trails and parks archived at Southern Ohio Trails. To find more information about a trail, click on the trail or map key number. Points of interest can be added using the <i class="fa fa-star-o fa-lg"></i>          Star icon, and a trail list can be found using the <i class="fa fa-th-list fa-lg"></i> List button. All points of interest have links to Google Maps directions from your current location.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="map-legend">
              <i class="fa fa-minus fa-lg" style="color:green;"></i><span>Bikeways</span><br>
              <i class="fa fa-minus fa-lg" style="color:#936c39;"></i><span>Hiking Trails</span><br>
              <i class="fa fa-minus fa-lg" style="color:steelblue;"></i><span>Buckeye Trail</span><br>
              <i class="fa fa-ellipsis-h fa-lg" style="color:darkseagreen;"></i><span>Proposed Bikeway</span><br>
              <i class="fa fa-ellipsis-h fa-lg" style="color:goldenrod;"></i><span>Proposed Bike Route</span><br>
              <i class="fa fa-minus fa-lg" style="color:firebrick;"></i><span>Designated Bike Route</span>
            </div>
          </div>
          <div class="col-sm-6 map-legend">
            <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>&nbsp; Toggle Points of Interest</span><br>
            <i class="fa fa-th-list fa-lg" aria-hidden="true"></i>&nbsp; Toggle Trail List</span><br>
            <i class="fa fa-filter fa-lg" aria-hidden="true"></i>&nbsp; Toggle Trail Filter</span><br>
            <i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>&nbsp; Zoom To/Follow GPS Location</span><br>
            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>&nbsp; Help</span>
          </div>
        </div>
        <br>
        <em>
          This portal does not intend to be an exhautive list of all public trails in southern Ohio. Additionally, trail locations are for visualization purposes only. Please use the links provided for up to date location information for each trail.
        </em>
      </div>
      <div class="modal-footer">
        <button id="hideModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
