<section class="container"  id="search" style="height: auto;padding: 50px;">
  <!--div class="row">
    <div class="col-lg-12 text-center">
      <h2  id="content" class="section-heading">Explore the Trails</h2>
    </div>
    <div id="search" class="col-lg-6 col-lg-offset-3 text-center">
      {% if page.description%}<h3 style="padding-bottom:30px;">{{page.description}}</h3>{%endif%}
    </div>
  </div-->
  <div class="row">
    <div class="col-lg-3 text-center"></div>
    <div class="col-lg-6 text-center">
      <input id="search-input" type="text" class="form-control" placeholder="Search Trails by Trail Name or City">
      <ul id="results-container" class=""></ul>
    </div>
    <div class="col-lg-3 text-center"></div>
    <div class="col-lg-12 text-center">
      <hr class="primary">
      <br />
    </div>
  </div>
</section>
<div id="showlist"class="container visible-md visible-sm visible-xs">
  <button type="button" class="btn btn-outline btn-xs" data-toggle="offcanvas">{{page.title}} List</button>
</div>
<div class="animated">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-lg-9 col-md-12 col-sm-12">
        {% assign sorted_trails = site.data.ovrdc_trails | sort:"Name" %}
        <div class="row">
        {% for trail in sorted_trails %}
        {% if trail.maptype == page.type and trail.Status == "Existing" %}
        {% if trail.subtype == "Extension" %}
        {% elsif trail.subtype == "Hiking Trail" %}
        {% else %}
          <div class="col-lg-12">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-3">
            <div class="item">
              <a href="/trails/images/{{trail.img}}"  title="<a href='/trails/{{trail.Name |slugify}}'>{{trail.Name}}</a>"><img src="/trails/images/medium/{{trail.img}}" class="img-thumbnail trail-list" alt="{{trail.Name}}"></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-9">
            <blockquote>
              <h3 class="section-heading trail-list">
                <a href="/trails/{{trail.Name |slugify}}">{{trail.Name}}</a>
              </h3>
              <h4>{{trail.Description}}</h4>
              {% for description in site.data.trail-descriptions %}{% if description.name == trail.Name %}
              <div class="panel-group">
                <div class="panel panel-default" style="border-radius: 0;">
                  <div class="panel-heading" data-toggle="collapse" data-target="#readmore" style="padding: 5px 10px;cursor:pointer;">
                    <h4 class="panel-title text-center" style="cursor:pointer;">Read More</h4>
                  </div>
                  <div id="readmore" class="panel-collapse collapse">
                    <div class="panel-body">{{description.description}}</div>
                  </div>
                </div>
              </div>
              {%endif%}{% endfor%}
              <div class="trail-details">
                <table class="table table-bordered text-center table-condensed trail-details" style="max-width:503px;">
                  <tr>
                    <th>Length</th><th>{% assign length = trail.SUM_LENGTH | plus: 0%}{% if length < 2%}1 mile{% else%}{{trail.SUM_LENGTH | round: 0}} miles{% endif%}</th>
                  </tr>
                  <tr>
                    <th>Surface</th><th>{{trail.surface}}</th>
                  </tr>
                  <tr>
                    <th>Counties</th><th>{{trail.counties}}</th>
                  </tr>
                  <th colspan=2 class="text-center">Trail Head{% if trail.th2loc%}s{%endif%}</th>
                  <tr><td colspan=2><a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr={{trail.th1loc}}" target="_blank">{{trail.th1name}}</a></td></tr>
                  {% if trail.th2loc%}<tr><td colspan=2><a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr={{trail.th2loc}}" target="_blank">{{trail.th2name}}</a></td></tr>{%endif%}
                </table>
              </div>
            </blockquote>
          </div>
        {%endif%}
        {%endif%}
        {%endfor%}
        </div>
        <div><p>
          <em class="text-muted">*Trail lengths are approximate.</em>
        </p></div>
      </div>
      {% include 4.5-trails.sidebar.html %}
    </div>
  </div>
</div>
