<section id="content" class="animated">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div class="service-box">
            <h3 class="section-heading">{{page.title}}</h3>
            <p class="text-muted">{{page.subtitle}}</p>
            <p>Length: </p>
            <p>Surface: </p>
            <p>Website: </p>
            <p>Upcoming Events: </p>
            <p>GPX File: </p>
            <p>Directions: <p>
            <p>Counties: </p>
            <p>Bike Store Nearby: </p>
            <a href="#" class="btn btn-outline btn-sm-nav">Trail Website</a>&nbsp;
            <a href="#" class="btn btn-outline btn-sm-nav">Social Media Page</a>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <div id="trailmap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
