<!-- trails detailed-->
<div id="showlist" class="container visible-md visible-sm visible-xs" style="margin-top:60px;margin-bottom:-80px;">
  <button type="button" class="btn btn-outline btn-xs" data-toggle="offcanvas">Trail List</button>
</div>
<section id="content" class="animated">
  <div class="container">

    <h4>{% if page.maptype == "bikeway" %}
      <a href="{{site.url}}/bikeways/"><i class="fa fa-reply"></i>&nbsp;Bikeways</a>
      {% elsif page.maptype == "mountain" %}
      <a href="{{site.url}}/mountain-bikeway/"><i class="fa fa-reply"></i>&nbsp;Mountain Bike Trails</a>
      {% elsif page.maptype == "hiking" %}
      <a href="{{site.url}}/hiking/"><i class="fa fa-reply"></i>&nbsp;Hiking & Backpacking Trails</a>
      {% endif %}
    </h4>
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="service-box">
          <h3 class="section-heading">{{page.Name}}</h3>
          <p>{{page.Description}}</p>
          {% for description in site.data.trail-descriptions %}{% if description.name == page.Name %}
          <div class="panel-group">
            <div class="panel panel-default" style="border-radius: 0;">
              <div class="panel-heading" data-toggle="collapse" data-target="#readmore" style="padding: 5px 10px;cursor:pointer;">
                <h4 class="panel-title text-center" style="cursor:pointer;">Read More</h4>
              </div>
              <div id="readmore" class="panel-collapse collapse">
                <div class="panel-body">{{description.description}}</div>
              </div>
            </div>
          </div>
          {%endif%}{% endfor%}
          {% if page.slideshow %}
          {% assign slideshow = {{page.slideshow}} | split: ", " %}
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              {% for slide in slideshow %}
              <li data-target="#myCarousel" data-slide-to="{{forloop.index}}"></li>
              {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="item active">
                <img src="/trails/images/medium/{{page.img}}" class="img-responsive img-thumbnail" alt="feature image">
              </div>
              {% for slide in slideshow %}
              <div class="item">
                <img src="/trails/images/medium/{{slide}}"  class="img-responsive img-thumbnail" alt="image">
              </div>
              {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% else %}
          <img src="/trails/images/medium/{{page.img}}" class="img-responsive img-thumbnail" alt="{{page.Name}}" style="margin-bottom:20px;">
          {% endif %}
          <div class="trail-details">
            <table class="table table-bordered text-center table-condensed trail-details" style="max-width:650px;">
              <tr>
                <th>Length</th><th>{% assign length = page.SUM_LENGTH | plus: 0%}{% if length < 2%}1 mile{% else%}{{page.SUM_LENGTH | round: 0}} miles{% endif%}</th>
              </tr>
              <tr>
                <th>Surface</th><th>{{page.surface}}</th>
              </tr>
              <tr>
                <th>Counties</th><th>{{page.counties}}</th>
              </tr>
              <tr>
                <td>Map Key</td><td>#{{page.mapid}}</td>
              </tr>
              <th colspan=2 class="text-center">Trail Head{% if page.th2loc%}s{%endif%}</th>
              <tr><td colspan=2><a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr={{page.th1loc}}" target="_blank">{{page.th1name}}</a></td></tr>
              {% if page.th2loc%}<tr><td colspan=2><a href="https://www.google.com/maps/dir/?saddr=My+Location&daddr={{page.th2loc}}" target="_blank">{{page.th2name}}</a></td></tr>{%endif%}
            </table>
          </div>
          <hr /><br />
          {% if page.printmap %}<a href="/trails/print-maps/{{page.printmap}}" class="btn btn-outline btn-sm-nav" style="width:100%;">Print Map</a>{% endif %}
          <p><h4>More Information & Resources</h4>
            {% if page.website %}<a href="{{page.website}}" class="btn btn-outline btn-sm-nav" target="_blank"><i class="fa fa-external-link">&nbsp;</i>Trail Website</a><span>&nbsp;</span>{%endif%}
            {% if page.ohio_org %}<a href="{{page.ohio_org}}" class="btn btn-outline btn-sm-nav" target="_blank"><i class="fa fa-external-link">&nbsp;</i>Ohio: Find it Here!</a><span>&nbsp;</span>{% endif %}
            {% if page.parklink %}<a href="{{page.parklink}}" class="btn btn-outline btn-sm-nav" target="_blank"><i class="fa fa-external-link">&nbsp;</i>Park Link</a><span>&nbsp;</span>{% endif %}
            {% if page.facebook %}<a href="{{page.ohio_org}}" class="btn btn-outline btn-sm-nav" target="_blank"><i class="fa fa-external-link">&nbsp;</i>Facebook Page</a><span>&nbsp;</span>{% endif %}
            {% if page.gpx != "no data" %}<a href="{{site.url}}/trails/data/{{page.gpx}}" class="btn btn-outline btn-sm-nav" target="_blank"><i class="fa fa-download"></i>&nbsp;GPX Data</a>{%endif%}
          </p>
          <!--p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsS-H-YQUvRj-PUMOaZUMPoY4xwvWrRrwFwh92d60gzJDF3w/viewform"  target="_blank" class="btn btn-primary btn-sm">Add Information Form</a>
          </p-->
          <p>
            <!--a href="https://www.ovrdc.org/apps/2017/poi-form.html" target="_blank" class="btn btn-primary btn-sm">Comment & POI Form</a-->
          </p>
        </div>
      </div>
      <div class="col-lg-7 col-md-8 col-sm-8">
        <div id="map-show-button" style="display:none;">
          <button class="btn btn-success" style="width:100%;">Interactive Map</button>
        </div>
        <div id="map">
            <div id="blank" style="position:absolute;top:0;left:0;bottom:0;width:100%;z-index:9999;background:white;"><img style="position:absolute;top:50%;left:50%;margin-top:-60px;margin-left:-60px;" src="/assets/img/ring-alt.gif" /></div>
          <div id="mapLeftSidebar"></div>
          <div id="mapRightSidebar">
            <div class='map-trails-list-heading'>
              <h3>Bikeways & Hiking Trails</h3>
            </div>
            <div id='bike-list' class='trails-list'></div>
            <div id='hike-list' class='trails-list'></div>
          </div>
          {% include 10.5-map-help-modal.html %}
        </div>
      </div>
      {% assign sorted_trails = site.data.ovrdc_trails | sort:"Name" %}
      <div id="sidebar" class="col-lg-2 col-md-6 col-sm-6 col-xs-6 sidebar-offcanvas" style="border-left:solid thin lightgray;background:white;">
        <ul style="list-style:none;">
            <h4 class="text-muted">Bikeways</h4>
            {% for trail in sorted_trails %}
            {% if trail.maptype == "bikeway" and trail.Status == "Existing" %}
            {% if trail.subtype == "Extension" %}
            {% elsif trail.subtype == "Hiking Trail" %}
            {% else %}<li><a href="/trails/{{trail.Name | slugify}}/#content">{{trail.Name}} ({{trail.mapid}})</a></li>
            {% endif %}
            {%endif%}
            {%endfor%}
            <h4 class="text-muted">
              Hiking Trails
            </h4>
            {% for trail in sorted_trails %}
            {% if trail.maptype == 'hiking' and trail.Status == "Existing" %}
            {% if trail.subtype == "Extension" %}
            {% elsif trail.subtype == "Hiking Trail" %}
            {% else %}<li><a href="/trails/{{trail.Name | slugify}}/#content">{{trail.Name}} ({{trail.mapid}})</a></li>
            {% endif %}
            {%endif%}
            {%endfor%}
        </ul>
      </div>
    </div>
  </div>
</section>
