<section id="portfolio" class="download bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Views from the Trails</h2>
        <p>A glimpse into the wonderful scenery of Southern Ohio</p>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      {%for trail in site.data.ovrdc_trails | limit: 6%}

      <div class="col-lg-4 col-sm-6">
        <!--div href="#" class="portfolio-box" style="background:url(/trails/images/medium/{{trail.img}});background-size:cover;background-position:center;"-->
        <div href="#" class="portfolio-box">
          <img src="/trails/images/medium/{{trail.img}}" class="img-responsive" alt="{{trail.Name}}" style="min-width:33%;overflow:hidden;">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{trail.Name}}
              </div>
              <div class="project-name">
                {{trail.Description}}
              </div>
              <br />
              <a class="btn btn-outline btn-sm-img" href="/trails/{{trail.Name | slugify}}/">View the Trail</a>
            </div>
          </div>
        </div>
      </div>

{%endfor%}
    </div>
  </div>
</section>
