<!-- Custom Fonts -->
<noscript id="deferred-styles">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600,800|Catamaran:400,500" rel="stylesheet" />
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>

<!--Main Javascript and jQuery see _includes/js-->
<script type='text/javascript' src="{{site.baseurl}}/assets/js/main.js"></script>
{% if page.map == true %}
<link href="/assets/vendor/extra-markers/css/leaflet.extra-markers.min.css" rel="stylesheet" />
<link href="/assets/css/maps.css" rel="stylesheet" />
<script type='text/javascript' src="{{site.baseurl}}/assets/js/maps.js"></script>
<script type='text/javascript' src="/assets/vendor/extra-markers/src/assets/js/leaflet.extra-markers-custom.js"></script>
{% endif %}

{% if page.search == false %}
{% else %}
{% include 8.5-search.html %}
{% endif %}

{% if page.layout == 'trails' or page.layout == 'hiking'%}
{% if page.slideshow %}
{% assign slideshow = {{page.slideshow}} | split: ", " %}
{% endif %}
<script>
/*$('.item.active').on('click', function() {
  console.log('clicked image');
  $.SimpleLightbox.open({
      items: ['/trails/images/medium/{{page.img}}'{% for slide in slideshow %},'/trails/images/medium/{{slide}}'{%endfor%}]
  });
});*/
$('.carousel-inner .item a').simpleLightbox();
</script>
{% endif %}
