<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato|Muli|Catamaran" rel="stylesheet" />
<link href="/assets/css/main.css" rel="stylesheet" />
<!--Main Javascript and jQuery see _includes/js-->
<script type='text/javascript' src="{{site.baseurl}}/assets/js/main.js"></script>
{% if page.map == true %}
<link href="/assets/vendor/extra-markers/css/leaflet.extra-markers.min.css" rel="stylesheet" />
<link href="/assets/css/maps.css" rel="stylesheet" />
<script type='text/javascript' src="{{site.baseurl}}/assets/js/maps.js"></script>
<script type='text/javascript' src="/assets/vendor/extra-markers/src/assets/js/leaflet.extra-markers.js"></script>
{% endif %}
{% if page.search == false %}{% else %}{% include 8.5-search.html %}{% endif %}
<style>
{% if page.css %}{{page.css}}{% endif %}
</style>
