<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content animated">
                    <div class="header-content-inner text-center" style="position: relative;">
                        <h4>Explore Southern Ohio's Amazing Bikeways, Hiking Trails & Mountain Bike Trails</h4>
                        <h1>Southern Ohio Outdoors</h1>
                        <a href="#trails" class="btn btn-outline btn-xl page-scroll">Start Exploring</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
