---
---

@charset "utf-8";

{% include css/bootstrap.min.css %}

{% include css/font-awesome.min.css %}

{% include css/simpleLightbox.min.css %}

// Example Defaults
//$base-font-family: Lato, Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less link and gradient background
//$head-primary: #7b4397 ;
//$head-secondary: #dc2430 ;
//$theme-primary: #fdcc52 ;
//$theme-secondary: #fdc539 ;
//$theme-dark: #222;

$head-primary: #1b7837 ;
$head-secondary: #1b7837 ;
$theme-primary: #7fbf7b ;
$theme-secondary: #1A3319 ;/*#001707 1b7837*/
$theme-dark: #222;
$font-primary: 'Catamaran';
$font-secondary: 'Muli';
$p-line-height: 1.3;
$p-font-size: 20px;
$h3-size: 30px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "base"
;
/*custom*/
p img {
  max-width:100%;
}
a:hover, a:focus {
  color: #1A3319;
  text-decoration: none;
}
/* css for news, archive and blog pages */
.content em {
  color:rgb(224,224,224);
  font-size:1.2rem;
}
section.post {
  padding:20px 0;
}
.post-list img {
  float:left;
  padding-right:20px;
  width:200px;
}
.post-list-sm img {
  float:left;
  padding-right:20px;
  width:130px;
}
.content hr {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width:1100px) {
  .content.post.container {
    width:1000px;
  }
}
/* end blog css */
/*custom carousel*/
.carousel {
  max-width: 640px;
  margin-bottom:20px;
}
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
.carousel-control:focus,
.carousel-control:hover {
  opacity: 1;
}
/*end carousel*/
/*custom table*/
.trail-details td,
.trail-details th {
  width:50%;
}
.trail-details th {
  text-align:center;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 2px;
}
/*end table*/
#blank {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  z-index:9999;
  background:white;
}
/*header*/
header {
  background: url(/assets/img/homepage-images/header-new-2.jpg),linear-gradient(to left, #39423b, #1b7837);
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
header .header-content {
  padding: 100px 0 50px;
  height: 100vh;
}
header .header-content .header-content-inner {
  top: 50%;
  transform: translateY(-50%);
}
.page {
  min-height: 260px;
  height: 260px;
}
.page .header-content {
    height: 260px;
}
/*end header*/
/*sidebar list*/
#showlist {
  margin-top: -40px;
  margin-bottom: 20px;
}
#showlist button {
  z-index:10;
  border-radius:0;
}
/*end sidebar container*/
#results-container {
  background: white;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  text-align: center;
  left: 15px;
  right: 15px;
  margin: 10px 0;
}
#results-container.active {
  border: solid thin lightgray;
}
ul.active {
  padding: 0;
}
#results-container li {
  list-style: none;
  padding: 10px 0;
}

#trailmap {
  height: 530px;
  width: 100%;
  border: solid thin lightgray;
  margin-top:20px;
}

.navbar-default .navbar-header .navbar-toggle {
  padding:8px;
}
.navbar-toggle {
  margin-right:10px;
}
.navbar-brand {
  font-size: 22px;
}
.nav > li > a {
  padding: 13px 8px;
  font-size: 16px!important;
  line-height: 23px;
}
.nav > li > a .fa-lg {
  line-height: 22px;
}
.btn-sm-nav {
  padding: 4px 10px!important;
  margin-top: 10px!important;
  font-size: 11px;
  color: #222;
}
.btn-sm-img {
  font-size: 11px;
}
.btn-xl {
  margin: 0 5px;
}
/*removed since got retinam magic working to scale and crop images*/

/*.portfolio-box {
  min-height:360px;
}*/
.portfolio-box .btn-sm-img:hover {
  color: #333;
  background-color: white!important;
}
.img-responsive {
  margin: 0 auto;
}
.btn-inverse {
  color: #333;
}
.service-box {
  margin-bottom: 80px;
}
footer .list-inline {
  font-size: 12px;
}
footer {
  background-color: transparent;
  color: #333;
}
.section-heading.trail-list {
  margin-top: 0;
}
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1540px;
  }
}
@media (min-width: 768px) {
  .navbar-default.affix .btn-sm-nav:hover {
    color:white!important;
  }
  #trail-detail-mobile {
    display: none;
  }
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
 #sidebar ul {
   padding-left: 10px;
 }
@media screen and (max-width: 1199px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
    display: none;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
    display: none;
  }
  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;
  }
  .row-offcanvas-left.active
  .sidebar-offcanvas {
    display: block;
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
    display: block;
  }

  .row-offcanvas-left.active {
    left: 60%; /* 6 columns */
    display: block;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
@media screen and (max-width:768px) {
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%; /* 6 columns */
  }
  .img-thumbnail.trail-list {
    display: none;
  }
  /*mobile nav tweaks*/
  .nav-center {
    text-align: center;
    border-bottom: solid thin #e7e7e7;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
  }
  .navbar-collapse.collapse.in {
    margin: 0 -30px;
  }
  .navbar-default .nav>li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    background-color: #eeefee;
  }
}
/*change bootstrap navbar media query*/
@media (max-width: 992px) {
  .navbar-default .nav>li>a {
    letter-spacing: 0px;
  }
}
.slbCaption a:hover, .slbCaption a:focus {
  color:white;
}
