---
layout: compress
---
{% include map-plugins/leaflet.css%}
{% include map-plugins/L.Control.Sidebar.css%}
{% include map-plugins/easy-button.css%}
{% include map-plugins/L.Control.Locate.min.css%}
{% include map-plugins/leaflet.fullscreen.css%}

/*custom map css*/
.trailTooltip {
  font-size: 16px;
  font-weight: 800;
  color: white;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border-width: 2px;
  padding: 2px 4px;
  width: 32px;
  opacity: 1!important;
  text-align: center;
  border-radius: 2px;
}
.trailTooltip.hiking {
  background-color: #936c39;
}
.trailTooltip.biking {
  background-color: darkgreen;
}
.trailTooltip.buckeye {
  background-color: steelblue;
}
.trailTooltip.leaflet-tooltip-left:before,
.trailTooltip.leaflet-tooltip-right:before {
    right: 0;
    margin-right: -12px;
    border-left-color: transparent;
    border-right-color: transparent;
}
.leaflet-container {
  font-family: "Muli";
}
.leaflet-control-fullscreen a {
  background:#fff url(/assets/css/images/fullscreen.png) no-repeat 0 0;
}

@media
  (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
  .leaflet-control-fullscreen a {
    background-image:url(/assets/css/images/fullscreen.png) no-repeat 0 0;
  }
}

.map-legend {
  /*border: 1px solid rgba(0,0,0,.3);*/
  background: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.5rem;
}
.map-legend span {
  padding: 4px;
}
.trails-list h4 {
  margin: 5px 0;
}
/*modal*/
.modal .close {
  font-size: 3rem;
}
/*.modal {
  opacity: 0;
  transition: opacity .5s linear;
}
.modalFade {
  opacity: 0;
  transition: opacity .5s linear;
}
.modal.show {
  opacity: 1;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
}*/
/**/
.leaflet-bottom .leaflet-right {
  width:100%;
}
/*.leaflet-popup.leaflet-zoom-animated {
  bottom: -28px!important;
  left: -48px!important;
}*/
/*extra marker*/
.extra-marker.extra-marker-svg img {
  margin-top: -22px;
}
.leaflet-marker-icon.extra-marker.extra-marker-svg.leaflet-zoom-animated.leaflet-interactive {
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}
.extra-marker {
  background: none;
}
/*end extra markers*/
.leaflet-popup-content-wrapper {
  border-radius: 4px!important;
}
.leaflet-popup-content {
  font-family: Muli, Helvetica, Arial, sans-serif;
}
/*sidebar tweaks*/

.sidebar.leaflet-touch,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 1px solid rgba(0,0,0,.2);
}
.leaflet-container .leaflet-sidebar a:hover,
.leaflet-control-attribution a:hover,
.leaflet-control-attribution a:focus,
.leaflet-container .leaflet-sidebar a:focus {
  color: #1b7837;
}
.leaflet-control-attribution a,
.leaflet-container .leaflet-sidebar a {
  color: #7fbf7b;
}
.leaflet-sidebar {
  z-index: 1010;
}
.leaflet-container .leaflet-sidebar .close {
  color: #1b7837;
  font-size: 25pt;
  z-index: 1001;
  opacity: 0.8;
}
.leaflet-container .leaflet-sidebar .close:hover,
.leaflet-container .leaflet-sidebar .close:focus {
  color: #333;
  opacity: 1;
}
/*end sidebar tweaks*/
.leaflet-control-layers-expanded {
  padding: 0;
}
.leaflet-control-layers-toggle {
  display: none!important;
}
.leaflet-control-layers .leaflet-control-layers-list {
  display: block!important;
  padding: 6px 10px 6px 6px;
  margin: 0;
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/*Easy button tweaks*/
.fa-2x {
  font-size: 2rem;
  margin-top: 3px;
}
.leaflet-left .easy-button-button.leaflet-bar-part.leaflet-interactive {
  padding:2px;
}

@media screen and (min-width: 481px) {
  .leaflet-bottom.leaflet-left {
    top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .leaflet-left .leaflet-bar.easy-button-container.leaflet-control {
    display: flex;
    padding: 8px 0;
    justify-content: space-around;
    background: white;
    border-radius: 0;
    border: none;
    margin: 0;
    width: 100%;
    box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .15);
  }
  .leaflet-left .leaflet-bar.easy-button-container.leaflet-control button {
    border: none;
    min-width: 80px;
  }
  .leaflet-bottom.leaflet-left {
    width: 100%;
    bottom: 0;
  }
  .leaflet-top.leaflet-left {
    width: 100%;
    top: 0;
  }
/*  .leaflet-top.leaflet-right {
    margin-top: 30px;
  }*/
 .leaflet-control-attribution {
    margin-bottom: 50px!important;
  }
  .leaflet-left,
  .leaflet-right {
    transition: all 0.1s;
  }
}


/*end map custom css*/
