---
layout: compress
---
<html lang="en">
{% include 1-head.html %}

<body id="page-top">
  <!--div id="blank" style="position:absolute;top:0;left:0;bottom:0;width:100%;z-index:9999;background:white;"><img style="position:absolute;top:50%;left:50%;margin-top:-60px;margin-left:-60px;" src="/assets/img/ring-alt.gif" /></div-->
  {% include 2-nav.html %}
  {% include 3-header.html %}

  {{content}}

  {% include 5-gallery.html %}
  {% include 6-about.html %}
  {% include 7-footer.html %}
  {% if page.layout == 'trails' or page.layout == 'hiking'%}
  {% include 8-scripts.html %}
  <script>{% include 10-trails-detailed-map.js %}</script>
  {% else %}
  {% include 8-scripts.html %}
  {% endif %}
</body>
</html>
